{
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "spaceBeforeFunctionParen": true,
  "importOrder": [
    "^@core/(.*)$",
    "^@server/(.*)$",
    "^@ui/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true
}